extends layout
block content
	h1 Welcome to JukeBox!
	
	h2 <strong>Start a Party</strong>
		if (message)
			p= message
		form#formJoinParty(name="party",method="post",action="/host")
			input#inputPartyName(type="text",placeholder="Enter Party Name", name="name")
			button#btnSubmit(type="submit") Start

	
		
