extends layout
block head 
	link(rel="stylesheet", href="/assets/css/join.css")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	link(rel="stylesheet", href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css")
	//link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
block content
	.nav
		.container
			h2 <strong>Join a Party</strong>
				if (message)
					p= message
				form#formJoinParty(name="party",method="post",action="/join")
					input#inputPartyName(type="text",placeholder="Enter Party Name", name="name")
					button#btnSubmit(type="submit") Join

	.jumbotron
		.container
			h1 Welcome to the E-JukeBox!
			h2 Join a Party
	

