/*
* {
background: white;
}
*/
.jumbotron {
  //background-image: url('https://information2share.files.wordpress.com/2011/08/city-4.jpg');
  background-image: url(https://unsplash.imgix.net/photo-1422310299561-e3b8b45d859f?fit=crop&fm=jpg&h=700&q=75&w=1050);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron .container h1 {
  color: #fff;
  font-size: 40px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron .container h2 {
  color: #fff;
  font-size: 35px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
.jumbotron p {
  font-size: 20px;
  color: #fff;
}
