div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
	.container
		h1 Jukebox 
		p.lead Party Playlist
#content
	.container
		ul
			li(ng-repeat="song in songs")
				img(src="sample") 
				p {{song.name}}
				p {{song.artist}}

